@model IEnumerable<WebApplication65.Scale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payband)
            </th>
            <th>
                Basic Salary
            </th>
            <th>
                HRA
            </th>
            <th>
                Net Salary
            </th>
            <th>
                IN hand Salary
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Payband)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaySalary)
                </td>
                <td>
                    @(@item.PaySalary*.10)
                </td>
                <td>
                    @((@item.PaySalary*.10)+(@item.PaySalary*.05)+ (@item.PaySalary * .05)+ (@item.PaySalary))
                </td>
                <td>
                    @((@item.PaySalary*.10)+(@item.PaySalary*.05)+ (@item.PaySalary * .05)+ (@item.PaySalary)- (@item.PaySalary * .10))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Payband">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Payband">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Payband">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
